p {
	text-align: justify;
    text-justify: inter-word;
}

section h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

section {
	padding: 0;
	margin-top: 5vh;
	margin-left: 5%;
	margin-bottom: 6vh;
	width: 90%;
	height: 83.5vh;
}

section .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

section .mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}

section .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
  max-height: 256px;
}

section .mdl-card__text {
  padding: 16px;
  min-height: 64px;
  display: flex;
  align-items: center;
  margin: auto;
}

section .mdl-grid {
	margin-left: calc(8.3333333333% - 16px);
}