body {
	background-color: black;
	background-image: url("../img/background.jpg");
	background-position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.snow-container {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 3;
    pointer-events: none;
}

.logos {
	text-align: center;
	margin-top: 12%;
}