@import url('https://fonts.googleapis.com/css?family=Marck+Script');

@font-face {font-family: FantaisieArtistique; src: url('FantaisieArtistique.otf');}
@font-face {font-family: TemphisBrick; src: url('TemphisBrick.ttf');}

body {
	background-color: rgb(10, 10, 10);
	margin: 0;
	overflow: hidden;
}

.content {
	background-color: rgba(0, 0, 0, 0);
	padding: 48px;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-family: FantaisieArtistique;
	color: rgb(189, 187, 153);
	text-shadow: 2px 2px rgb(38, 38, 33);
	margin: 0;
}

span {
	margin: 0;
	padding: 0;
}

#encoded {
	font-family: TemphisBrick;
}
